body{
  background-color: white;
  overflow: hidden;
}

.navbar{
  background-color: #A7CBA8;
  height: 100vh;
  width: 87px;
}

.location{
  position: absolute;
  top: 650px;
  left: 25px;
  width: 39px;
  height: 39px;
}

.settings{
  position: absolute;
  top: 715px;
  left: 25px;
  width: 39px;
  height: 39px;
}

.wave{
  position: absolute;
  left: 87px;
  top: 0;
  width: 1200px;
}

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

h1 {
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  font-size: 72px;
  letter-spacing: -1.5%;
  line-height: 50px;
}

p {
  font-family: 'Inter', sans-serif;
  font-size: 30px;
  letter-spacing: 0.5%;
  line-height: 10px;
  color: #717171;
}

h2 {
  font-family: 'Inter', sans-serif;
  font-size: 40px;
  font-weight: normal;
  margin-top: 150px;
  color: #717171;
  line-height: 0px;
}


h3 {
  font-family: 'Inter', sans-serif;
  font-size: 64px;
  font-weight: 300;
}