@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

body{
  background-color: white;
  overflow: hidden;
}

.navbar{
  background-color: #A7CBA8;
  height: 100vh;
  width: 87px;
}

.location{
  position: absolute;
  top: 655px;
  left: 20px;
  width: 39px;
  height: 39px;
  z-index: 1;
}

.settings{
  position: absolute;
  top: 595px;
  left: 20px;
  width: 39px;
  height: 39px;
  z-index: 1;
}

.exit{
  position: absolute;
  top: 715px;
  left: 30px;
  width: 28px;
  height: 28px;
  z-index: 1;
}

.wave{
  position: absolute;
  left: 87px;
  top: 0;
  width: 1200px;
  z-index: -1;
}

.title {
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  font-size: 72px;
  letter-spacing: -1.5%;
  line-height: 50px;
  margin: 125px 50px 50px 90px;
}

.title2 {
  font-family: 'Inter', sans-serif;
  font-size: 32px;
  letter-spacing: 0.5%;
  line-height: 10px;
  color: #717171;
  margin: 0px 50px 30px 100px;
}

.subtitle {
  font-family: 'Inter', sans-serif;
  font-size: 32px;
  font-weight: 300;
  color: #717171;
  line-height: 0px;
  margin: 50px 50px 0px 100px;
}

.transcription {
  font-family: 'Inter', sans-serif;
  font-size: 64px;
  font-weight: 300;
  margin: 40px 50px 0px 100px;
}

.instructions{
  font-family: 'Inter', sans-serif;
  font-size: 32px;
  font-weight: 300;
  margin: 0px 0px 0px 50px;
}

.rootContainer{
  display: flex;
  flex-direction: row;
}

.rightContainer{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  width: 1200px;
}

.triangle{
  position: absolute;
  top: 0px;
  left: 1050px;
}

.police{
  position: absolute;
  top: 20px;
  left: 1210px;
  width: 42px;
  height: 48px;
}

.ambulance{
  position: absolute;
  top: 25px;
  left: 1205px;
  width: 45px;
  height: 36px;
}

.hydrant{
  position: absolute;
  top: 20px;
  left: 1210px;
  width: 52px;
  height: 52px;
}


.addminus {
  display: flex;
  flex-direction: column;
}

.icon{
  width: 40px;
  height: 40px;
  margin: 10px;
}

.policeIcon {
  width: 51px;
  position:absolute;
  top: 360px;
  left: 451px;
}

.blueIcon {
  width: 138px;
  position:absolute;
  top: 320px;
  left: 407px;
}

.healthIcon {
  width: 69px;
  position:absolute;
  top: 361px;
  left: 648px;
}

.redIcon {
  width: 138px;
  position:absolute;
  top: 320px;
  left: 613px;
}

.fireIcon {
  width: 60px;
  position:absolute;
  top: 358px;
  left: 857px;
}

.yellowIcon {
  width: 138px;
  position:absolute;
  top: 320px;
  left: 818px;
}	

.minusIcon {
  width: 25px;
  position:absolute;
  top: 474px;
  left: 426px;
}	

.addIcon {
  width: 25px;
  position:absolute;
  top: 474px;
  left: 502px;
}	

.minusIcon2 {
  width: 25px;
  position:absolute;
  top: 474px;
  left: 632px;
}	

.addIcon2 {
  width: 25px;
  position:absolute;
  top: 474px;
  left: 708px;
}	

.minusIcon3 {
  width: 25px;
  position:absolute;
  top: 474px;
  left: 836px;
}	

.addIcon3 {
  width: 25px;
  position:absolute;
  top: 474px;
  left: 912px;
}	

.polices {
  position:absolute;
  top: 428px;
  left: 466px;
  font-family: "Inter";
  font-size: 36px;
  font-weight: 400;
}	

.medics {
  position:absolute;
  top: 428px;
  left: 672px;
  font-family: "Inter";
  font-size: 36px;
  font-weight: 400;
}	

.fires {
  position:absolute;
  top: 428px;
  left: 876px;
  font-family: "Inter";
  font-size: 36px;
  font-weight: 400;
}	

.check{
  position: absolute;
  top: 300px;
  left: 600px;
  height: 162px;
  width: 162px;
}

.success{
  position: absolute;
  top: 475px;
  left: 500px;
  width: 800px;
  height: 192px;
}
