<head>
    <script src="https://cdn.socket.io/4.7.5/socket.io.min.js" integrity="sha384-2huaZvOR9iDzHqslqwpR87isEmrfxqyWOF7hr7BY6KG0+hVKLoEXMPUJw3ynWuhO" crossorigin="anonymous"></script>
    <link rel="stylesheet" href= "{{ url_for('static',filename='styles/style.css') }}">
</head>

<body style="margin: 0;">
    <div class="rootContainer">
        <div class="navbar"></div>
        <div class="rightContainer">
            <p class="title">Emergency Services</p>
            <p class="title2">Caller’s audio will be transcribed below.</p>
            <p class="title2">We’ll give you the solution to their problem.</p>
            <p class="subtitle">Transcription:</p>
            <p class="transcription" id="trans">“There’s a massive flood over in the University of Waterloo , me and 5 others are stuck in the Math 3 building, send help please!”</p>
        </div>
    </div>
    <img src="{{ url_for('static',filename='assets/wave.png') }}" alt="wave" class="wave"/>
    <img src="{{ url_for('static',filename='assets/settings.png') }}" alt="settings" class="settings"/>
    <img src="{{ url_for('static',filename='assets/location.png') }}" alt="location" class="location"/>
    <img src="{{ url_for('static',filename='assets/exit.png') }}" alt="exit" class="exit"/>

</body>
