<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <img src="firefighters.png" alt="firefighters" class="firefighters"/>
    <div class="loginContainer">
        <div class="loginTitleContainer">
            <span class="loginTitle">Welcome to </span><span class="loginTitle" style="color: #4EAE50">CrisisControl</span>
        </div>
        <p class="loginSubtitle">Making emergency contacts a smoother process</p>
        <p class="loginSubtitle" style="margin-top: 70px; color: black">ID: </p>
        <form class="input"></form>
        <p class="loginSubtitle" style="margin-top: 35px; color: black">Password: </p>
        <form class="input"></form>
    </div>
</body>
</html>
