<head>
    <script src="https://cdn.socket.io/4.7.5/socket.io.min.js" integrity="sha384-2huaZvOR9iDzHqslqwpR87isEmrfxqyWOF7hr7BY6KG0+hVKLoEXMPUJw3ynWuhO" crossorigin="anonymous"></script>
    <script src="{{ url_for('static', filename='js/police.js') }}"></script>
    <link rel="stylesheet" href= "{{ url_for('static',filename='styles/style.css') }}">
</head>

<body style="margin: 0;">
    <div class="rootContainer">
        <div class="navbar"></div>
        <div class="rightContainer">
            <p class="title"> Instructions </p>
            <p class="title2">Based on the situation, here are some things you should do</p>
            <p class="instructions" style="position: absolute; top: 260px; left: 90px" id="instr1"></p>
            <p class="instructions" style="position: absolute; top: 435px; left: 90px" id="instr2"></p>
            <p class="instructions" style="position: absolute; top: 610px; left: 90px" id="instr3"></p>
        </div>
    </div>
    <img src="{{ url_for('static',filename='assets/settings.png')}}" alt="settings" class="settings"/>
    <img src="{{ url_for('static',filename='assets/location.png')}}" alt="location" class="location"/>
    <img src="{{ url_for('static',filename='assets/exit.png')}}" alt="exit" class="exit"/>
    <img src="{{ url_for('static',filename='assets/blue.png')}}" alt="red" class="triangle"/>
    <img src="{{ url_for('static',filename='assets/police.png')}}" alt="police" class="police"/>
    <img src="{{ url_for('static',filename='assets/case.png')}}" alt="suitcase" class="icon1"/>
    <img src="{{ url_for('static',filename='assets/radar.png')}}" alt="radar" class="icon2"/>
    <img src="{{ url_for('static',filename='assets/cross.png')}}" alt="cross" class="icon3"/>

</body>
