<head>
    <link rel="stylesheet" href= "{{ url_for('static',filename='styles/style.css') }}">
</head>

<body style="margin: 0;">
    <div class="rootContainer">
        <div class="navbar"></div>
        <img src="{{ url_for('static',filename='assets/check.png')}}" alt="check" class="check"/>
        <img src="{{ url_for('static',filename='assets/success.png')}}" alt="success" class="success"/>
    </div>
    <img src="{{ url_for('static',filename='assets/settings.png')}}" alt="settings" class="settings"/>
    <img src="{{ url_for('static',filename='assets/location.png')}}" alt="location" class="location"/>
    <img src="{{ url_for('static',filename='assets/exit.png')}}" alt="exit" class="exit"/>

</body>


